:root {
  --mobile_view_threshold: 767px; /* 小屏阈值：小于此值视为移动端，此handle用于更新对应的script，css的@media需要单独修改！ */
  --gap-unit: 4px;
  --stroke--width: 0.17rem;
  --base--font--size: clamp(1.0em, 5vh, 1.1em);  /* 这个是中间商，目的是把一个变量包到变量，实际的1em的anchor在universal的body的fontsize=1em*/
  --page-white: rgb(255, 255, 255);
}

/* ====================================================================
   全局页面行为
   ==================================================================== */

html {
  overflow-x: hidden;
  overscroll-behavior: auto;
  touch-action: manipulation;

  /* 防止 Safari 横屏或某些情况下自动放大文字 */
  -webkit-text-size-adjust: 100%;

  /* 禁止文字被选中 */
  user-select: none;
  -webkit-user-select: none;
  background-color: var(--page-white);
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;

  font-family: "helvetica";
  font-size: 1rem;
  color: #000;
  -webkit-text-stroke: 0.03em #000;
  background-color: var(--page-white);
}

/* ====================================================================
   全局标题
   ==================================================================== */

h1,
h2 {
  margin: 0;

  font-family: "helvetica";
  font-weight: normal;
  line-height: normal;
  color: #000;
  -webkit-text-stroke: 0.03em #000;
  
}

h1 {
  font-size: calc(var(--base--font--size) * 1.5);
  -webkit-text-stroke: 0.05em #000;
}

h2 {
  font-size: calc(var(--base--font--size) * 1.15);
}

p{

  -webkit-text-stroke: 0.0em #000;

}

/* ====================================================================
   通用按钮
   ==================================================================== */

.button_small {
  margin: 0;
  padding: 0;

  font-size: var(--base--font--size);
  color: #000;
  text-decoration: none;

  background: none;
  border: none;
  border-bottom: var(--stroke--width) solid #000;

  cursor: pointer;
}

@media (max-width: 767px) {
  :root {
    --stroke--width: 0.14rem;
  }

  body {
    -webkit-text-stroke: 0.025em #000;
  }
}

@media (min-width: 1000px) {
  :root {
    --gap-unit: 6px;
  }
}
