:root {
  --mobile_view_threshold: 767px; /* 小屏阈值：小于此值视为移动端，此handle用于更新对应的script，css的@media需要单独修改！ */
  --gap-unit: 4px;
  --stroke--width: 0.17rem;
  --base--font--size: clamp(1.0em, 5vh, 1.1em);
}

body{
      margin:0;
      padding:0;
       font-size:1rem;
       font-family:"helvetica";
      color:#000;
      min-height:100vh;
      -webkit-text-stroke: 0.03em #000;



        /* 禁止文字被选中 */

  user-select: none;

  -webkit-user-select: none;

  /* 禁止 iPhone Safari 长按弹出复制/分享菜单 */

  -webkit-touch-callout: none;

  /* 防止 Safari 横屏或某些情况下自动放大文字 */

  -webkit-text-size-adjust: 100%;

  /* 关闭滚到顶部/底部后的橡皮筋 overscroll 行为 */

  overscroll-behavior: none;

  /* 保留滚动和点击，但尽量禁止双击缩放等额外缩放手势 */

  touch-action: manipulation;
      
     
    }


.button_small{
  background:none;
  border:none;
  


  border-bottom: var(--stroke--width) solid #000;
  text-decoration:none;
  padding:0;
  font-size:var(--base--font--size);
  color:#000;
  cursor:pointer;
}

@media (max-width: 767px) {

  :root {--stroke--width: 0.14rem;}

  body{-webkit-text-stroke: 0.025em #000;}
}

@media (min-width: 1000px) {
  :root {
    --gap-unit: 6px;
  }
}
