:root {
  --mobile_view_threshold: 767px; /* 小屏阈值：小于此值视为移动端，此handle用于更新对应的script，css的@media需要单独修改！ */
  --gap-unit: 4px;
  --stroke--width: 0.17rem;
}

body{
      margin:0;
      padding:0;
       font-size:1rem;
       font-family:"helvetica";
      color:#000;
      min-height:100vh;
      -webkit-text-stroke: 0.03em #000;
      
     
    }


.button_small{
  background:none;
  border:none;
  


  border-bottom: var(--stroke--width) solid #000;
  text-decoration:none;
  padding:0;
  font-size:1.1em;
  color:#000;
  cursor:pointer;
}
