<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Copyright</title>

  <style>
    .copyright_main p {
      margin: 0;
      font-family: "helvetica";
      font-size: calc(var(--base--font--size, 1rem) * 0.72);
      font-weight: normal;
      line-height: normal;
      color: #000;
      -webkit-text-stroke: 0.03em #000;
    }
  </style>
</head>
<body>
  <div class="copyright_main">
    <p>© All rights reserved by Yiichen de Lajii, 逸晨 沈</p>
  </div>
</body>
</html>
